@model FundMe.Models.Campaign

@{
    ViewBag.Title = "Details";
}


<style>
    .donations{
        width: 50%;
    }
</style>
<h2>Details</h2>

<div>
    <h4>Campaign</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Picture.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Picture.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CampaignsGoal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CampaignsGoal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurrentlyRaised)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentlyRaised)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<div>
    @using (Html.BeginForm("Donate", "Campaigns", FormMethod.Post))
    {
         @Html.AntiForgeryToken()

        <input type="number" name="donate" />
        @Html.HiddenFor(model => model.ID);
        <input type="submit" />
    }

</div>
<div class="donations">
    <table class="table">
        <tr>
            <th>Iznos</th>
            <th>Datum Donacije</th>
        </tr>
        @foreach (var item in ViewBag.Donations)
        {
            <tr>
                <td>@item.Iznos</td>
                <td>@item.DonationDate</td>
            </tr>
        }
    </table>
</div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
