@model PagedList.IPagedList<FundMe.Models.Campaign>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Campaigns", FormMethod.Get))
{
    <label>Filter by Category:</label>
    @Html.DropDownList("Category", "All")
    <input type="submit" value="Filter" />
    <input type="hidden" name="Search" id="Search" value="@ViewBag.Search" />
}

<table class="table">
    <tr>
        <th>
            <p>Category Name</p>
        </th>
        <th>
            <p>Image</p>
        </th>
        <th>
            <p>Campaign Title</p>
        </th>
        <th>
            <p>Description</p>
        </th>
        <th>
            <p>Currently Raised</p>
        </th>
        <th>
            <p>Campaign Goal</p>
        </th>
        <th>
            <p>Start Date</p>
        </th>
        <th>
            <p>End Date</p>
        </th>
        <th>
            <p>Country</p>
        </th>
        <th>
            <p>City</p>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @if (item.Picture != null)
                {
                    <img src="@Url.Content(String.Format("{0}{1}", ViewBag.Path, item.Picture.FileName))" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentlyRaised)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CampaignsGoal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
