@model PagedList.IPagedList<FundMe.Models.Campaign>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "UserCampaigns", null, null)
</p>

@using (Html.BeginForm("Index", "Campaigns", FormMethod.Get))
{
    <label>Filter by Category:</label>
    @Html.DropDownList("Category", "All")
    <input type="submit" value="Filter" />
    <input type="hidden" name="Search" id="Search" value="@ViewBag.Search" />
}

@foreach(var item in Model)
{
    <div class="wrapper" style="margin-bottom:20px; background-color:aliceblue;">
        <div class="row">
            <div class="col-sm-3">
                @if (item.Picture != null)
                {
                    <img src="@Url.Content(String.Format("{0}{1}", ViewBag.Path, item.Picture.FileName))" width="220" height="180" />
                }
            </div>
            <div class="col-sm-6">
                <div class="camp-title">
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <span style="float:right;">
                            <span> @Html.ActionLink("Edit", "Edit", "UserCampaigns", new { id = item.ID }, null)</span> <span> | </span>
                            <span>@Html.ActionLink("Delete", "Delete", "UserCampaigns", new { id = item.ID }, null)</span>
                        </span>
                    }
                    <h3>@Html.ActionLink(String.Format("{0}", @Html.DisplayFor(modelItem => item.Title)), "Details", new { id = item.ID })</h3>
                    <span><b>@item.Country, @item.City</b></span>
                    <hr style="margin-top:0px; margin-bottom:10px" />
                </div>
                <div class="camp-desc" style="height:65px">
                    @Html.DisplayFor(modelItem => item.Description)
                </div>
                <div class="camp-remaining">
                    <span>Campagaigns created: <b>@item.StartDate.ToShortDateString() |</b> Remaining: <b>@item.EndDate.Subtract(DateTime.Now).Days.ToString() </b>Days</span> 
                </div>
            </div>
            <div class="col-sm-3 text-center" >
                <spanc>Campaigns Goal:</spanc>
                <p><b>@item.CampaignsGoal</b></p>
                <span>CurrentlyRaised</span>
                <p><b>@item.CurrentlyRaised</b></p>
                <meter style="width:120px; height:8px" value="@item.CurrentlyRaised" min="0" max="@item.CampaignsGoal"></meter>
                <br />
                <br />
                <p><input type="button" value="Donate now" onclick="location.href='@Url.Action("Details", "Campaigns", new { id = item.ID })'" /></p>
            </div>
        </div>
    </div>
}


<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
