@model IEnumerable<FundMe.Models.Campaign>

@{
    ViewBag.Title = "Home Page";
}

<br />
<br />
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentlyRaised)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CampaignsGoal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @if (item.Picture != null)
                {
                    <img src="@Url.Content(String.Format("{0}{1}", ViewBag.Path, item.Picture.FileName))" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentlyRaised)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CampaignsGoal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
        </tr>
    }

</table>